[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
numpy = "*"
pandas = "*"
gunicorn = "*"
flask-admin = "*"
flask-bcrypt = "*"
flask-login = "*"
flask-sqlalchemy = "*"
cryptography = "*"
wtforms-sqlalchemy = "*"
flask-limiter = "*"
flask-wtf = {extras = ["email"], version = "*"}
requests = "*"
firebase-admin = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
