{% extends "bootstrap.html" %}
{% block content %}
<style type="text/css">
body{

	height: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url("{{url_for('static', filename='images/kpa2.jpg')}}");
	background-size: cover;
	background-repeat: no-repeat;
	overflow-y: scroll;
	background-attachment: fixed;
}

*{
	margin-top: 0;
	padding: 0;
	
}

.do{
 	 height: 200px;
 	 width: 400px;
 	 position: fixed;
 	 top: 50%;
 	 left: 50%;
 	 margin-top: -100px;
 	 margin-left: -200px;
 	 border: 0px solid transparent;
 }

.som{
	padding-left: 0%;
	font-family: monospace;
	margin-bottom: 4em;
}

 .som h1{
 	text-align: center;
 	animation: abcd 18s infinite;
 	font-family: monospace;
 	color:#F4F6F7;
 }

 @Keyframes abcd{
  0%{margin-left: 100px;color: #F67280;}
  10%{margin-left: 50px;}
  20%{margin-right: 100px; color: gold;}
  30%{margin-right: 50px;}
  40%{margin-left: 100px;}
  50%{margin-left: 50px;}
  60%{margin-right: 100px;}
  70%{margin-right: 50px;}
  80%{margin-left: 100px;}
  90%{margin-left: 50px;}
  100%{margin-right: 100px;}
 }

/*

	.get{
		margin-top: 2%;
		margin-left: 0%;
		background: #FF6700;
		width: 13%;
		padding-left: 0%;
		padding-top: 1%;
		height: 2.3em;
		border-radius: 25px;
		opacity: 0.8;


		
	}

   */


	.get input{
		text-decoration: none;
		color: white;
		background: #FF6700;
		padding: 12px 20px;
		border-radius: 25px;
		border: 0px solid transparent;
	}

</style>
<div class="flash">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
          {{message}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
<body>
	
	<center>

		<div class="do">
		<div class="som">
	<h1>KPASEC P.T.A & E.T.L ACCOUNTS</h1>	
	</div>
    
    	<div class="get">
    		<form method="POST">
    			<input type="submit" value="GET STARTED">
    		</form>
	    </div>
	  </div><br><br>
    
	</center>	
	
	
	


{% endblock %}


